@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
html,body{
	width: 100%;
	background-color: #f4f4f4; 
	height: 1000px;
	overflow-x: hidden;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.wrapper .top-nav-wrap{
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	border: 1px solid #eee; 
}
.wrapper .top-nav-wrap .top-nav{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
	/* border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
	float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
	float:right;
}
.wrapper .top-nav-wrap .top-nav li{
	float: left;
	margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a{
	color: #6c6c6c;
	font-size: 2px;
	line-height: 35px;
	padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,.wrapper .top-nav-wrap .top-nav li .login{
	color: #f40;
}
.wrapper .top-nav-wrap .top-nav .china{
	color: #3c3c3c;
	font-size: 12px;
	line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .china .china-span{
	padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav .cutoff{
	color: #3c3c3c;
	font-size: 12px;
	line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
	display: inline-block;
	width: 10px;
	height: 9px;
	vertical-align: middle;
	background-size: 100% 100%;
	/* border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .xsjPic{
	background-image: url('image/back.png');
}
.wrapper .top-nav-wrap .top-nav .shopCarPic{
	width: 12px;
	height: 12px;
	background-image: url('image/shopCar.png');
}
.wrapper .top-nav-wrap .top-nav .likePic{
	width: 12px;
	height: 12px;
	background-image: url('image/star.png');
}
.wrapper .top-nav-wrap .top-nav .webNav{
	width: 10px;
	height: 9px;
	background-image: url('image/shopCar.png');
}
/* 导航样式结束 */

.wrapper .search-wrap{
	width: 100%;
	height: 97px;
	/* 	border: 1px solid black; */
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 9px;
}
.wrapper .search-wrap .search-content{
	width: 1190px;
	height: 88px;
	/* border: 1px solid black; */
	margin: 0 auto;
}
.wrapper .search-wrap .search-content .logo-box{
	width: 190px;
	height: 80px;
	/* border: 1px solid black; */
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 22px;
}
.wrapper .search-wrap .search-content .logo-box img{
	width: 100%;
	height: 100%;
} 
.wrapper .search-wrap .search-content .search-box{
	width: 627px;
	height: 87px;
	/* border: 1px solid black; */
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
}

.wrapper .search-wrap .search-content .search-box .search-bd{
	width: 627px;
	height: 62px;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-content .search-box .search-bd li{
	float: left;
	width: 36px;
	height: 22px;
	text-align: center;;
	line-height: 22px;
	color: #f40;
	margin-right: 4px;
	font-size: 12px;
}
.wrapper .search-wrap .search-content .search-box .search-bd li:hover{
	background-color: #ffeee5;
}
.wrapper .search-wrap .search-content .search-box .search-bd .select{
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	color: #fff;
	font-weight: 700;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-tab{
	width: 610px;
	height: 22px;
	margin-left: 17px;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel{
	width: 627px;
	height: 40px;
	position: relative;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .sousuo,
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .camera{
	display: inline-block;
	position: absolute;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .sousuo{
	width: 20px;
	height: 24px;
	top: 7px;
	left: 10px;
	background: url('image/fdj.png') no-repeat;
	background-size: 100% 100%;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .camera{
	width: 20px;
	height: 22px;
	top: 9px;
	right: 80px;
	background: url('image/camera.png') no-repeat;
	background-size: 100% 100%;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .btn{
	position: absolute;
	right: 0;
	top: 0;
	width: 74px;
	height: 40px;
	z-index: 1000;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
	/* background: linear-gradient(to right,#ff9000 0,#ff5000 100%); */
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .btn button{
	border: none;
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	width: 100%;
	height: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .search-inp-box{
	width: 551px;
	height: 36px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	overflow: hidden;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .search-inp{
	width: 500px;
	height: 36px;
	overflow: hidden;
}
.wrapper .search-wrap .search-content .search-box .search-bd .search-panel .search-inp input{
	width: 472px;
	height: 24px;
	line-height: 24px;
	border: none;
	outline: o;
	text-indent: 10px;
	padding: 6px 16px;
	background: #fff;

}
.wrapper .search-wrap .search-content .search-box .search-ft{
	width: 625px;
	height: 18px;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-content .search-box .search-ft ul li{
	float: left;

}
.wrapper .search-wrap .search-content .search-box .search-ft ul li a{
	font-size: 12px;
	color: #666;
	margin-right: 8px;

}
.wrapper .search-wrap .search-content .search-box .search-ft a:hover,
.wrapper .search-wrap .search-content .search-box .search-ft ul .select a{
	color: #ff5000;

}
.wrapper .search-wrap .search-content .search-box .search-ft .more{
	float: right;
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
.wrapper .search-wrap .search-content .code-box{
	width: 76px;
	height: 90px;
	border: 1px solid #eee;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 120px;
}
.wrapper .search-wrap .search-content .code-box .p-tb{
	display: inline-block;
	color: #ff5000;
	text-align: center;
	line-height: 20px;
	margin: 4px auto 0;
	width: 78px;
	font-size: 14px;
}
.wrapper .search-wrap .search-content .code-box .code{
	display: inline-block;
	width: 62px;
	height: 62px;
	background: url('image/ewm.png');
	background-size: 100% 100%;
	margin-left: 7px;
}
.wrapper .search-wrap .search-content .code-box .close{
	position: absolute;
	top: 0;
	height: 14px;
	width: 14px;
	border: 1px solid #eee;
	left: -16px;
	line-height: 14px;
	text-align: center;
	color: #ddd;
	font-size: 14px;
}
/* 中间导航条开始 */
.wrapper .screan-nav-wrap{
	width: 100%;
	height: 30px;
} 
.wrapper .screan-nav-wrap .screan-nav-con{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.wrapper .screan-nav-wrap h2{
	width: 190px;
	height: 30px;
	float: left;
	color: #fff;
	background-color: #ff5000;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
.wrapper .screan-nav-wrap .screan-nav-con ul{
	height: 30px;
	font-size: 16px;
	float: left;
}
.wrapper .screan-nav-wrap .screan-nav-con ul li{
	float: left;
	text-align: center;
	line-height: 30px;
	margin: 0 3px;
	padding: 0 4px;
	font-weight: 700;
	color: #fff;
}
.wrapper .screan-nav-wrap .screan-nav-con ul li a{
	color: #fff;
	text-align: center;
	line-height: 30px;

}
/* 中间导航条结束 */
.wrapper .screen-box-wrap{
	width: 1190px;
	margin: 0 auto;
	height: 632px;
}
.wrapper .screen-box-wrap .main{
	width: 890px;
	height: 632px;
	float: left;
}
.wrapper .screen-box-wrap .main .main-inner{
	width: 720px;
	height: 522px;
	display: inline-block;
	vertical-align: top;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left{
	height: 522px;
	width: 190px;
	float: left;
	background-color: #fff;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul{
	border: 1px solid #ff5000;
	border-top: none;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 14px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
	height: 32px;
	width: 144px;
	line-height: 32px;
	font-weight: 400px;
	padding-left: 25px;
	padding-right: 19px;
	position: relative;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
	color: #666;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul span{
	position: absolute;
	display: inline-block;;
	right: 10px;
	height: 8px;
	width: 5px;
	background-size: 100% 100%;
	color: #666;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
	background-color: #ffeee5;
	color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a,
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover span{
	color: #ff5000;
}


.wrapper .screen-box-wrap .main .main-inner .inner-con{
	height: 512px;
	width: 520px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}
.inner-con-sel{
	position: absolute;
	top: -10px;
	left: -11px;
}
.inner-con-sel ul li{
	position: absolute;
	width: 527px;
	height: 517px;
	float: left;
	background-color: #fff;
	display: none;
	border: 2px solid #f40;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box{
	position: relative;
	width: 520px;
	height: 280px
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box img{
	position: absolute;
	width: 100%;
	height: 100%;
	float: left;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -35px;
	height: 13px;
	border-radius: 10px;
	background: rgba(255,255,255,.5);
	cursor: pointer;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li{
	width: 10px;
	height: 10px;
	float: left;
	margin: 2px;
	background: #ddd;
	border-radius: 50%;
}
/*.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li .select{
	background-color: #ff5000;
	}*/
/*.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li a{
	display: block;
	width: 8px;
	padding-top: 8px;
	height: 0;
	border-radius: 50%;
	background-color: #fff;
	}*/
	.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall{
		width: 520px;
		height: 230px;
	}
	.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall img{
		width: 520px;
		height: 205px;
	}
	.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head{
		width: 520px;
		height: 22px;
		border-bottom: 3px solid #ff1684;
	}
	.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm-pic{
		display: inline-block;
		width: 136px;
		height: 20px;
		background-image: url('image/tm.png');
		background-size: 100% 100%;
		vertical-align: bottom;
	}
	.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm{
		color: #666;
		font-size: 12px;
		margin-left: 10px;
	}
	.wrapper .screen-box-wrap .main .col-middle{
		width: 160px;
		height: 512px;
		vertical-align: top;
		display: inline-block;
		margin-top: 10px;
	}
	.wrapper .screen-box-wrap .main .col-middle .middle-pic2 h5{
		color: #a1a1a1;
		font-size: 12px;
		line-height: 20px;
	}
	.wrapper .screen-box-wrap .main .main-bottom{
		width: 888px;
		height: 100px;
	}
	.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
		position: relative;
		margin-top: 10px;
		padding: 14px 14px 10px 20px;
		background-color: #eee;
		height: 73px;
	}
	.wrapper .screen-box-wrap .main .main-bottom h3{
		width: 200px;
		height: 110px;
		float: left;
		vertical-align: center;
		position: relative;
	}
	.wrapper .screen-box-wrap .main .main-bottom h3 em{
		display: none;
	}
	.wrapper .screen-box-wrap .main .main-bottom h3 p{
		line-height: 24px;
		height: 24px;
		color: #999;
		font-weight: 400;
		position: absolute;
		bottom: 35px;
		font-size: 13px; 
		margin-left: 31px;
	}
	.wrapper .screen-box-wrap .main .main-bottom h3{
		background: url('image/tt.png') 10% 30% no-repeat;
		float: left;
	} 
	.wrapper .screen-box-wrap .main .main-bottom .bottom-con a img{
		float: left;
		width: 130px;
		height: 73px;
	}
	.wrapper .screen-box-wrap .main .main-bottom .bottom-con .ttcon h4{
		font-size: 16px;
		font-weight: 300px;
		line-height: 28px;
		color: #333;
		margin-top: 2px;
		margin-left: 144px;
	}
	.wrapper .screen-box-wrap .main .main-bottom .bottom-con .ttcon h4:hover{
		color: #ff5000;
	}
	.wrapper .screen-box-wrap .main .main-bottom .bottom-con .ttcon p{
		color: #999;
		line-height: 18px;
		height: 36px;
		overflow: hidden;
		font-size: 14px;
		margin-left: 144px;
	}
	.wrapper .screen-box-wrap .main .main-bottom .bottom-con .ttcon{
		width: 675px;
		height: 73px;
		position: absolute;
		top: 14px;
		left: 200px;
	}
	.wrapper .screen-box-wrap .col-right{
		width: 290px;
		height: 618px;
		float: left;
		margin-left: 6px;
		margin-top: 10px;
		background-color: #fff;
	}
	.wrapper .screen-box-wrap .col-right .menber{
		width: 290px;
		height: 132px;
		padding: 3px 0 10px 0;
		background: url('image/bg.png') no-repeat;
		background-size: 100% 100%;

	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd{
		width: 290px;
		height: 91px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .tx{
		width: 290px;
		text-align: center;
		height: 56px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .tx a{
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%; 
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .tx img{
		border-radius: 50%;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .hello{
		display: block;
		height: 17px;
		line-height: 17px;
		text-align: center;
		font-size:12px; 
		color:#333;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd p{
		width: 290px;
		height: 17px;
		line-height: 17px;
		text-align: center;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .icon,
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .club{
		display: inline-block;
		height: 16px;
		position: relative;
		color: #ff5000;
		font-size: 14px;
		line-height: 17px;
		padding: 0 10px 0 20px;
		background: #ffe4db;
		border-radius: 9px;
		border: none;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .pic{
		display: inline-block;
		height: 16px;
		width: 16px;
		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 0;
		background: url('image/icon.png') no-repeat;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .icon .pic{
		background-position: 0 -527.5px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-bd .club .pic{
		background-position: 0 -528px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-ft{
		width: 290px;
		height: 40px;
		text-align: center;
		margin-top: 8px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-ft a{
		display: inline-block;
		width: 75px;
		height: 25px;
		text-align: center;
		color: #fff;
		background: linear-gradient(to right,#ff5000 0, #ff6f06 100%);
		line-height: 25px;
		font-size: 14px;
		font-weight: 700;
		border-radius: 4px;
		margin-right: 7px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-ft .login{
		width: 92px;
	}
	.wrapper .screen-box-wrap .col-right .menber .menber-ft{
		width: 290px;
		height: 40px;
	}
	.wrapper .screen-box-wrap .col-right .message{
		width: 290px;
		height: 26px;
		background-color: #ffe4db;
	}
	.wrapper .screen-box-wrap .col-right .message a{
		color: #ff5000;
		line-height: 26px;
		padding-left: 82px;
		position: relative;
		font-size: 12px;
	}
	.wrapper .screen-box-wrap .col-right .message a span{
		position: absolute;
		width: 0px;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 7px;
		border-color: transparent transparent transparent #f40;
		top: 4px;
		line-height: 0;
		margin-left: 32px;
	}
	.wrapper .screen-box-wrap .col-right .notice{
		height: 98px;
		width: 290px;
		padding-top: 10px;
	}
	.wrapper .screen-box-wrap .col-right .notice li{
		float: left;

	}
	.wrapper .screen-box-wrap .col-right .notice .title{
		/*width: 290px;*/
		height: 24px;
		margin-top: 4px;
		padding: 0 8px;
	}
	.wrapper .screen-box-wrap .col-right .notice .title li{
		width: 32px;
		line-height:20px;
		margin: 0 11px;
		text-align: center;
	}
	.wrapper .screen-box-wrap .col-right .notice .title li a{
		color: #3c3c3c;
		font-size: 14px;
	}
	.wrapper .screen-box-wrap .col-right .notice .title .select{
		font-weight: 700;
		border-bottom: 2px solid #f40;
	}
	.wrapper .screen-box-wrap .col-right .notice .con li{
		overflow: hidden;
		width: 130px;
		height: 25px;
		line-height: 25px;
		padding-right: 10px;
		padding-left: 5px;
	}
	.wrapper .screen-box-wrap .col-right .notice .con li a{
		font-size: 12px;
		color: #3c3c3c;
	}
	.wrapper .screen-box-wrap .col-right .notice .con .select{
		color: #ff5000;
	}
	.wrapper .screen-box-wrap .col-right .notice li:hover a{
		color: #f40;
	}
	.wrapper .screen-box-wrap .col-right .module{
		width: 290px;
		height: 232px;
		border-top: 1px solid #f4f4f4;
		/* border-left: 1px solid #f4f4f4; */
		margin-left: 2px;
	}
	.wrapper .screen-box-wrap .col-right .module li{
		float: left;
		width: 71px;
		height: 75px;
		border-right: 1px solid #f4f4f4;
		border-bottom: 1px solid #f4f4f4;
	}
	.wrapper .screen-box-wrap .col-right .module li a{
		display: block;
		text-align: center;
	}
	.wrapper .screen-box-wrap .col-right .module li span{
		background: url('image/icon.png') 100% 100% no-repeat;
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-top: 10px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic1{
		background-position: 0 0;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic2{
		background-position: 0 -85px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic3{
		background-position: 0 -44px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic4{
		background-position: 0 -132px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic5{
		background-position: 0 -176px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic6{
		background-position: 0 -220px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic7{
		background-position: 0 -264px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic8{
		background-position: 0 -308px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic9{
		background-position: 0 -352px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic10{
		background-position: 0 -396px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic11{
		background-position: 0 -440px;
	}
	.wrapper .screen-box-wrap .col-right .module li a .pic12{
		background-position: 0 -484px;
	}
	.wrapper .screen-box-wrap .col-right .module li a p{
		font-size: 12px;
		color:#3c3c3c;
		line-height: 24px;
	}
	.wrapper .screen-box-wrap .col-right .module li a:hover p{
		color: #ff5000;
	}
	.wrapper .screen-box-wrap .col-right .app{
		width: 290px;
		height: 110px;
	}
	.wrapper .screen-box-wrap .col-right .app h3{
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		position: relative;
		padding-left: 14px;
	}
	.wrapper .screen-box-wrap .col-right .app h3 a{
		position: absolute;
		right: 10px;
		color: #3c3c3c;
	}
	.wrapper .screen-box-wrap .col-right .app h3 a:hover{
		color: #ff5000;
	}
	.wrapper .screen-box-wrap .col-right .app ul{
		height: 84px;
		padding-left: 23px;
	}
	.wrapper .screen-box-wrap .col-right .app ul li{
		float: left;
		width: 32px;
		height: 32px;
		margin-right:21px;
		margin-bottom: 8px;
	}
	.wrapper .screen-box-wrap .col-right .app ul li img{
		width: 32px;
		height: 32px;
	}